/* Add your styles here */

.inputbox{
    position: relative;
    width: 800px;
    margin: auto;
    min-height: 300px;
    padding-top: 300px;
    
}

.TempBar{
    width: 800px;
    position: relative;
    left: 29em;
    bottom: 4em;
}

#myProgress {
    width: 50%;
    background-color: #ddd;
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: #4CAF50;
  }

  #btn{
    position: relative;
    right: 43.5em;
    top: 5em;
  }